
@{
    ViewBag.Title = "AguardandoConfirmacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem vindo ao Fórum Identity</h2>
<p>Por favor, verifique sua caixa de mensagens para confirmar seu endereço de email.</p>

